@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

#home-container {
    font-family: 'Raleway', sans serif;
    h1 {
        text-align: center;
    }
    
    .user-form {
        width: 50%;
        margin: 0 auto;
        
        .btn-default {
            background-color: #1ABC9C;
        }
    }
}
