<template name="course">

    <div id="course-container">

        <h1 id="course-name">{{name}}</h1>
        <p id="course-teacher">{{teacher}}</p>

        <p>Course Code: {{courseId}}</p>

        <div id="forms-container">
            <ul>
                {{#each forms}}
                    {{> form}}
                {{/each}}
            </ul>
        </div>

    </div>

</template>

<template name="form">

    {{#unless schemaIsEmpty schema}}
        <li>
            <div class="form-container">

                {{> quickForm id="componentForm" schema=schema}}

            </div>
        </li>
    {{/unless}}

</template>
