body {
    overflow-x: hidden;
    font-family: 'Raleway', sans serif;
    header {
        nav {
            border-radius: 0;
        }
        background-color: #34495E;
        border-radius: 0;
        width: 100%;

        .edition {
            color: #FFBD1D;

            font-size: 20px;
        }

        .todo {
            //margin-left: 40px;
            text-align: center;
            border-radius: 5px;
            margin-top: 40px;
        }

        .input-group {
            margin: 0 auto;
            border-radius: 5px;
        }
    }

    footer {

    }
}
